.convocatoria-container{
    background-color: var(--V50);
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    padding-block: calc(var(--Pad32) * 4);
}

    .top-text-container{
        width: 100%;
        height: auto;
        text-align: center;
        margin-bottom: calc(var(--Pad32) * 2);
    }
        .top-text-container > h2{
            font-size: clamp(2.7rem, 5vw, 5.4rem);
            font-family: 'Alfa Slab One', serif;
            text-transform: uppercase;
            font-weight: 400;
            line-height: .98;
            letter-spacing: -.025em;
        }

.card-container {
    gap: var(--Pad16);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
}

    .type-card-01{
        --back: var(--N300);
        --text: var(--Blanco);
        --acent: var(--V100);
        --highlight: var(--V300); 
    }
    .type-card-02{
        --back: var(--Blanco);
        --text: var(--N300);
        --acent: var(--V300);
        --highlight: var(--V300); 
    }
    .type-card-03{
        --back: var(--V100);
        --text: var(--N300);
        --acent: var(--N300);
        --highlight: var(--V300); 
    }
    .card-cpm{
        width: 100%;
        padding: 28px;
        border-top: 4px solid var(--acent);
        background-color: var(--back);
        color: var(--text);
    }
    
        .card-cpm > *{
            width: 100%;
            display: block;
        }
        .card-cpm > small{
            font-size: 16px;
            vertical-align: middle;
            margin-bottom: var(--Pad16);
            line-height: 1.7;
            color: var(--acent);
        }
        .card-cpm > p{
            font-size: 25px;
            margin-bottom: var(--Pad16);
            font-weight: 600;
            text-transform: uppercase;
        }
            .content-card{
                display: flex;
                gap: var(--Pad16);
                height: auto;
                justify-content: start;
                align-items: start;
            }
                .content-card > p > small{
                    text-transform: uppercase;
                    font-size: 11px;
                    color: var(--highlight);
                    font-weight: 800;
                }
            .content-card > ul, ol{
                list-style-position: inside;
                margin: 0;
                padding-left: 5px;
            }
            .content-card li{
                line-height: 1.5;
                margin-bottom: var(--Pad8);
            }