@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Fugaz+One&family=Kedebideri:wght@400;500;600;700;800;900&display=swap');

:root { 
    --N300:#111;
    --N200:#1d1c20; 
    --N100:#2f2e32; 
    --V400:#015716; 
    --V300:#008131; 
    --V200:#4daa37; 
    --V100:#b7d100; 
    --Blanco:#fff; 
    --Gris:#f4f4f2; 
    --Pad8:8px; 
    --Pad16:16px; 
    --Pad32:32px; 
}
* { 
    margin:0; 
    padding:0; 
    box-sizing:border-box; 
} 
html { 
    scroll-behavior:smooth; 
} 
body { 
    margin:0; 
    font-family:'Kedebideri',sans-serif; 
    font-size:16px; 
    background:#f5f7f1; 
} 

button,input { 
    font:inherit; 
}