.counter-container{
    width: 100%;
    height: 300px;
    background-color: var(--N300);
    color: var(--Blanco);
    padding: var(--Pad32);
    text-transform: uppercase;
}
    .counter-text-side{
        width: 70%;
        height: auto;
        flex-grow: 1;
    }
    .counter-numbers-side{
        width: fit-content;
        align-items: start;
        gap: var(--Pad8);
    }
        .counter{
            width: auto;
            height: auto;
            gap: var(--Pad8);
        }
            .container-number{
                min-width: 80px;
                height: auto;
                background: #1f211e;
                color: var(--Blanco);
                text-align: center;
                padding: var(--Pad16) var(--Pad8);
            }
                .container-number > p{
                    display: block;
                    color: var(--V100);
                    font: var(--Pad32) 'Fugaz One'
                }
                .container-number > small{
                    color: var(--B100);
                }